<%= form_tag verify_otp_path(@passenger), method: :post do %>
  <p>Enter the OTP sent to <%= @passenger.email %>:</p>
  <%= text_field_tag :otp, nil, autocomplete: 'off' %>
  <%= submit_tag 'Verify OTP' %>
<% end %>
