<h1>Rides#index</h1>
<p>Find me in app/views/rides/index.html.erb</p>
<% if passenger_signed_in? %>
  <%= button_to 'Sign Out', destroy_passenger_session_path, method: :delete ,data: { turbo_method: :delete } %>
<% end %>
